<main class="grid-template-layout relative">
  <a routerLink="/" class="return-link">
    <mat-icon aria-hidden="false" aria-label="retour" fontIcon="arrow_back"></mat-icon>
  </a>

  <form (ngSubmit)="onSubmit()">
    <h2>Inscription</h2>

    <mat-form-field appearance="outline">
      <mat-label>{{labels['username']}}</mat-label>
      <input matInput [formControl]="formControls['username']" (blur)="onBlur('username')">
      <mat-error *ngIf="formControls['username'].invalid && formControls['username'].touched">{{errorMessages['username']}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{labels['email']}}</mat-label>
      <input type="email" matInput [formControl]="formControls['email']" (blur)="onBlur('email')">
      <mat-error *ngIf="formControls['email'].invalid && formControls['email'].touched">{{errorMessages['email']}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{labels['password']}}</mat-label>
      <input type="password" matInput [formControl]="formControls['password']" (blur)="onBlur('password')">
      <mat-error *ngIf="formControls['password'].invalid && formControls['password'].touched">{{errorMessages['password']}}</mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="formControls['username'].invalid || formControls['email'].invalid || formControls['password'].invalid" mat-raised-button color="primary">S'inscrire</button>
  </form>
</main>
