main {
  padding-bottom: 2px;
  max-height: 100%;
}

.grid-template-layout {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "back-button article ."
    "back-button form .";
}

.article {
  grid-area: article;
  place-items: stretch;
  place-self: stretch;
  margin-inline: auto;
  width: 95%;
  height: 100%;
}

.comments {
  --gap: 1.5rem;
  & > .comment {
    max-width: 100%;
    --gap: 1.5rem;
    overflow-wrap: break-word;
    flex-grow: 1;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    & > .comment-username {
      font-weight: 500;
      font-size: 1rem;
      margin: 0;
      padding: 0.25rem;
    }
    & > .comment-content {
      flex: 1;
      padding: 0.5rem;
      margin: 0;
      border: 1px solid var(--gray-100);
      border-radius: 8px;
      background-color: var(--gray-100);
      overflow-wrap: break-word;
    }
  }
}

form {
  margin-top: 2rem;
  grid-area: form;
  align-items: end;
  max-height: fit-content;
  width: 95%;
  margin-inline: auto;
  & > mat-form-field {
    padding-top: 1rem;
    & textarea {
      max-height: 30vh;
    }
  }
}

.article, form {
  max-width:  calc(min(90ch, 100%));
}

header.subtitle {
  --justify: flex-start;
  flex-wrap: wrap;
  font-weight: 500;
  padding-bottom: 1rem;
}

button[type="submit"]:is(:hover, :focus, :focus-visible) {
  opacity: 75%;
}

.submit-button-mobile{
  display: none;
}

.submit-button-standard{
  display: flex;
  margin-block: auto;
}

@media(width < 599px){
  main {
   padding-inline: 0.25rem;
  }
  .grid-template-layout {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "back-button article ."
    "form form form";
  }

  .comment {
    --direction: column-reverse;
    gap: 0.5rem;
    & > .comment-content {
      align-self: flex-start;
      background-color: transparent;
    }
    & > .comment-username {
      align-self: flex-end;
    }
  }

  .submit-button-mobile{
    display: flex;
  }

  .submit-button-standard{
    display: none;
  }
}
