.mat-sidenav-content-wrapper {
  height: var(--content-standard-height);
}

@media (width < 599px){
  mat-sidenav-content.main{
    height: var(--content-mobile-height);
  }
}

.avatar {
  color: var(--gray-200);
  background-color: transparent;
  border-radius: 50%;
}

a.active {
  color: var(--accent-color);
  & > .avatar {
    background-color: var(--accent-color);
  }
}

a[routerLinkActive="active"]:hover {
  opacity: 75%;
  color: var(--accent-color);
  & > .avatar {
    background-color: var(--accent-color);
  }
}

mat-sidenav ul.flex-col {
  align-items: self-end;
  margin: 0;
  height: 100%;
  padding: 1.25rem 2rem;
  & > li:not(:last-of-type) {
    font-size: 1.25rem;
    font-weight: 500;
  }
  & > li:last-of-type {
    margin-top: auto;
  }
}
