h2 {
  margin-inline: auto;
  padding-bottom: 1rem;
  width: fit-content;
}

button {
  margin-block: 0.5rem;
  margin-inline: auto;
  width: fit-content;
  font-weight: bolder;
}

button[type="submit"] {
  margin-inline: auto;
  width: fit-content;
}

mat-divider {
  margin-block: 1rem;
}


form {
  display: flex;
  flex-direction: column;
  padding-inline: 0.75rem;
  width: 100%;
  max-width: calc(min(70ch, 100vw));
  margin-inline: auto;
  place-self: stretch;
  gap: 1rem;
}
