main {
  --justify: center;
  align-items: center;
  padding-top: 10vh;
  padding-inline: 1rem;
}

mat-card-actions {
 --gap: 4rem;
}

@media (width < 599px) {
  mat-card-actions {
    --direction: column;
  }
}
