<header class="header-primary">
  <app-navbar></app-navbar>
</header>
<mat-sidenav-container>
  <mat-sidenav  #sidenav mode="over" position="end"  [ngClass]="{'open': isOpen}" role="navigation">
    <ul class="flex flex-col">
      <li><a routerLink="/articles" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="closeSidebar()">Articles</a></li>
      <li><a routerLink="/themes" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}" (click)="closeSidebar()">Thèmes</a></li>
      <li>
        <a
          routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="closeSidebar()"
          style="
             --justify: center;
            display: flex;
            flex-direction: column;
            align-items:center;">
          <mat-icon aria-hidden="false" aria-label="profile" fontIcon="account_circle" class="avatar"
            style="font-size: 48px;
                         width: 48px;
                         height: 48px;">
          </mat-icon>
        </a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content-wrapper">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
