<nav>
<mat-toolbar>
    <a routerLink="/" routerLinkActive="active">
      <h1 class="sr-only">Monde de Dév</h1>
      <img ngSrc="/assets/logo_p6.png" alt="logo" [width]="140" [height]="80" priority/>
    </a>
  <ul id="header-nav-links" class="flex">
    <li><a routerLink="/articles" routerLinkActive="active" ariaCurrentWhenActive="page">Articles</a></li>
    <li><a routerLink="/themes" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Thèmes</a></li>
    <li>
      <a
        routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page"
        style="
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;">
        <mat-icon aria-hidden="false" aria-label="profile" fontIcon="account_circle" class="avatar"
          style="font-size: 48px;
                         width: 48px;
                         height: 48px;">
        </mat-icon>
      </a>
    </li>
  </ul>
  <button mat-icon-button (click)="toggleSidebar()" id="mobile-nav-trigger">
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
</mat-toolbar>
</nav>
