<nav>
  <a routerLink="" routerLinkActive="active">  <img ngSrc="/assets/logo_p6.png" alt="logo" [width]="140" [height]="81" priority/></a>
  <a routerLink="/articles" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Articles</a>
  <a routerLink="/themes" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Thèmes</a>
  <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link-large">
    <mat-icon aria-hidden="false" class="avatar" aria-label="profile" >account_circle</mat-icon>
  </a>
</nav>
